body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.title {
    display: flex;
}

.body h1 {
    text-align: center;
}

.hot {
    display: flex;
}

.hot img{
    width: 200px;
}

.footer {
    text-align: center;
}